<%= turbo_frame_tag "modal_content" do %>
  <div class="modal fade show" style="display: block;" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Warehouse</h5>
          <%= link_to '×', settings_path, class: 'btn-close', 'aria-label': 'Close', data: { turbo_frame: "_top" } %>
        </div>
        
        <div class="modal-body">
          <%= render 'form', warehouse: @warehouse %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
<% end %> 